name: Read Csv
on: workflow_dispatch

jobs:
   run-python:
     runs-on: ubuntu-latest

     steps:
       - uses: actions/checkout@v4

       - uses: actions/setup-python@v4
         with:
            python-version: '3.10'

       - run : pip install pandas

       - run: python python.py

     
   

